
/* global styling */

/* TODO: ändra färger för din meny */
:root {
    --clr-copy: #3a3a3a;                  /* normal text på sidan */
    --clr-black: #000;                    /* totalt svart används sparsamt */
    
    --clr-primary: hsl(0, 0%, 96%);       /* bakgrundsfärg och primära färgen */
    --clr-secondary: rebeccapurple;       /* menyfärg */
    --clr-accent: orchid;                 /* highlight CTA-färg  */
    
    --clr-white: hsl(0, 0%, 99%);   
    --clr-dropdown-background: white;      /* dropdown-menyns bakgrund */
    
    --clr-hover: hsl(270, 38%, 87%);           /* hover färg */
    --clr-active: var(--clr-secondary);          /* färg man klickar */

    --clr-box-shadow: 0 3px 6px rgb(204, 204, 204);
    --clr-menu-shadow: var(--clr-box-shadow);    /* ett tips är att använda en mörkare färg av själva dropdown-meny-bakgrunden */    
     
    --menu-dropdown-size: 1em;        /* hur stora ska dropdown-menyn vara? */
    --menu-item-size: 1em;            /* hur stort ska gränssnittet vara? */
    --border-radius: 0.250rem;        /* rundade kanter */
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    --_ff-primary: 'Segoe UI', sans-serif;
    
    margin: 0;
    padding: 0;
    
    background-color: var(--clr-primary);
    
    min-height: 100vh;
    
    font-family: var(--_ff-primary);
    font-size: var(--menu-item-size);
}

header {
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;
    gap: calc(var(--menu-item-size) + 3em);

    padding: calc(var(--menu-item-size) / 2) calc(var(--menu-item-size) * 2);
    
    background: var(--clr-white);
    box-shadow: var(--clr-box-shadow);

    z-index: 1;
}

main {
    display: grid;
    place-items: center;

    height: 80vh;
}

.flex-layout {
    display: flex;
    align-items: center;
    gap: var(--menu-item-size);
}

.primary-navigation {
    display: flex;
    gap: calc(0.5em + var(--menu-item-size));
    list-style: none;
    padding-inline: 0;
}

.logo-brand {
    font-size: calc(var(--menu-item-size) * 1.3);
    font-weight: bold;
    color: var(--clr-black);
}


/* image styling */

img {
    display: block;
    object-fit: cover;
    max-width: 100%;
    font-style: italic;
}

.logo {
    max-width: 22%;
}


/* text styling */
p {
    color: var(--clr-copy);
}


/* link styling */
.nav-link,
.nav-link:visited {
    text-decoration: none;
    color: var(--clr-secondary);
    
    font-weight: 500;
    font-size: calc(var(--menu-item-size) * 1.1);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--clr-accent);
}


/* dropdown styling */

/* länkarna i dropdown-menyerna */
li ul li a {
    display: block;

    /* justera menyobjekten */
    text-align: left;
    /* här beräknas storleken på menyobjekten */
    padding: calc(var(--menu-dropdown-size) / 2) var(--menu-dropdown-size); 
}

.dropdown {
    position: relative;
}

/* pil bara för dropdown-menyer i menyer */
li .dropdown::after {
    content: '>';
    position: absolute;
    right: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
}

.dropdown ul {
    position: absolute;
    /* se till att alla submenyer är stängda från början */
    display: none;
    
    list-style: none;
    margin-inline: 0;
    padding-inline: 0;

    /* FIXME: ska menyn dyka upp högerjusterad?*/
    /* right: 0; */

    white-space: nowrap;
}

/* öppna dropdown meny */
.dropdown:hover > ul,
.dropdown:focus-within > ul {
    /* FIXME: för horisontell meny: display till flex :) */
    display: block;

    background: var(--clr-dropdown-background);
    box-shadow: var(--clr-menu-shadow);

    border-radius: var(--border-radius);
    z-index: 99;
}

.dropdown ul .dropdown:hover > ul,
.dropdown ul .dropdown:focus-within > ul {
    display: block;
    /* FIXME: ändra till right: 100% om du har högerjusterad meny*/
    left: 100%; 
    top: 0;
}

/* markering */
.dropdown ul li a:hover,
.dropdown ul li a:focus {
    background: var(--clr-hover);
    border-radius: var(--border-radius);
    color: var(--clr-secondary);
}

.dropdown ul li a:active {
    background: var(--clr-active);
    color: var(--clr-hover);
}

/* FIXME: vill du ha en linje mellan varje dropdown objekt? 
OBS! om du kör "display: flex" där uppe på "dropdown ul:hover" bör du ändra till border-left här */
.dropdown ul .dropdown:not(:first-child) {
    border-top: 1px solid var(--clr-hover);
} 


